
.list-item {
    background-color: transparent;
    width: 200px;
    list-style: none;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: #808080 0px 0px 5px 0px;
  }
  
  
  .project-img {
    height: 150px;
    width: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .project-name {
    margin: 10px;
  }

  @media screen and (max-width: 768px) {
    .list-item {
        width: 150px;
        margin: 10px;
        margin: 8px;
        padding-bottom: 0px;
    }

    .project-img {
        height: 80px;
        width: 100%;
    }
}
  