.content-container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile-img-styles{
    height: 300px;
    width: 300px;
    border-radius: 150px;
}

.greeting-msg {
    background-image: linear-gradient(to right, #00e6e6, #4d4d4d);
    color: #ffffff;
    width: 80px;
    padding: 10px;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.role{
    margin-top: 10px;
}

.resume-btn{
    background-color: #ff3300;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-width: 0px;
    border-radius: 7px;
    cursor: pointer;
}

.get-in-touch-btn {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #f2f2f2;
    margin-left: 10px;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .content-container {
        height: 80vh;
        flex-direction: column;
        justify-content: center;
    }

    .greetings-container {
        order: 2;
    }

    .profile-container{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-img-styles {
        height: 150px;
        width: 150px;
    }
}