.content-container{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile-container {
    background-image: url('file:///C:/myPortfolioApp/my-portfolio/src/components/Home/Hero%20Background.svg');
    background-size: cover;
    height: 510px;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 35px;
    padding-left: 33px;
    margin-top: 100px;
}

.profile-img-styles{
    height: 435px;
    width: 84%;
}

.greeting-msg {
    background-image: linear-gradient(to right, #00e6e6, #4d4d4d);
    color: #ffffff;
    width: 80px;
    padding: 10px;
    font-weight: 500;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.role{
    margin: 0px 0px 10px;
}

.resume-btn{
    background-color: #ff3300;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-width: 0px;
    border-radius: 7px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

.get-in-touch-btn {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    border-color: #ffffff;
    margin-left: 10px;
    cursor: pointer;
}

.social-media-icons-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.social-media-icons-list {
    list-style: none;
    padding-left: 0px;
}

.icon-item {
    margin-bottom: 10px;
}

.name {
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
}

.light-border {
    border-color: #ffffff;
}

.dark-border {
    border-color: #000000;
}

.highlighted-name {
    color: #737373;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    margin-left: 10px;
}

.hand-emoji {
    height: 55px;
    width: 55px;
}


@media screen and (max-width: 768px){
    .content-container {
        height: 80vh;
        flex-direction: column;
        justify-content: center;
    }

    .greetings-container {
        order: 2;
    }

    .profile-container{
        display: none;
    }

    .profile-img-styles {
        height: 150px;
        width: 150px;
    }
}

